Package: bodhi-theme-e17-milky
Version: 0.6
Section: main
Priority: optional
Architecture: all
Replaces: bodhi-theme-milky
Conflicts: e19
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Description: Bodhi Milky Theme for E17
 Enlightenment theme designed for the Bodhi E17 Desktop
