Package: bodhi-theme-e17-greyish
Version: 0.6
Section: main
Priority: optional
Architecture: all
Replaces: bodhi-theme-greyish
Conflicts: e19
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Description: Bodhi Greyish Theme foe E17
 Enlightenment theme designed for the Bodhi E17 Desktop -
 dark in color
