Package: bodhi-theme-e17
Version: 2.03
Section: main
Priority: optional
Architecture: all
Replaces: bodhi-theme
Conflicts: e19
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Description: Bodhi Theme for E17
 Enlightenment theme designed for the Bodhi E17 Desktop
