Package: bodhi-theme-e17-apple17
Version: 0.6
Section: main
Priority: optional
Architecture: all
Replaces: bodhi-theme-apple17
Conflicts: e19
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Description: Bodhi Apple17 Theme for E17
 Enlightenment theme designed for the Bodhi E17 Desktop
