Package: bodhi-theme-e19-angelic
Version: 1.01
Section: main
Priority: optional
Architecture: all
Depends: e19, gtk2-engines, gnome-themes-standard
Conflicts: e17
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Angelic Theme for E19
 Enlightenment theme designed for the E19 Desktop
