Package: bodhi-theme-e17-moonlight2
Version: 0.6
Section: main
Priority: optional
Architecture: all
Replaces: bodhi-theme-moonlight2
Conflicts: e19
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Description: Bodhi Moonlight2 Theme for E17
 Enlightenment theme designed for the Bodhi E17 Desktop -
 based on the OpenGEU theme
