Package: bodhi-theme-e19-forum
Version: 1.0.1
Section: main
Priority: optional
Architecture: all
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Forum Theme for E19
 Enlightenment theme designed for the E19 Desktop and Elementary
