Package: bodhi-theme-e17-radiance
Version: 1.0.2
Section: main
Priority: optional
Architecture: all
Depends: e17, light-themes
Conflicts: e19
Maintainer: Jeff Hoogland <Jeff@bodhilinux.com>
Description: Radiance Theme for E17
 Enlightenment theme designed for the E17 Desktop
