Package: bodhi-theme-e17-magic-bodhi
Version: 2.1
Section: main
Priority: optional
Architecture: all
Replaces: bodhi-theme-magic-bodhi
Conflicts: e19
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Description: Bodhi Magic Theme for E17
 Enlightenment theme designed for the Bodhi E17 Desktop
