Package: bodhi-theme-e17-ambient
Version: 0.6
Section: main
Priority: optional
Architecture: all
Replaces: bodhi-theme-ambient
Conflicts: e19
Maintainer: Doug Yanez <Deepspeed@bodhilinux.com>
Description: Bodhi Ambient Theme for E17
 Enlightenment theme designed for the Bodhi E17 Desktop -
 dark in color
